---
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Linux

IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex: '^".*"$'
    Priority: 1
  - Regex: "^<.*>$"
    Priority: 2
...
